<div class="contenedor">

  <div class="cabecera">
    <h1>Sistema de Inventario</h1>
    <p>Gestión de productos con Angular + Scala + PostgreSQL</p>
  </div>

  <div class="card">

    <h2>{{ editando ? 'Editar producto' : 'Nuevo producto' }}</h2>

    <div class="grid">

      <input
        placeholder="Nombre"
        [(ngModel)]="producto.nombre">

      <input
        type="number"
        placeholder="Precio"
        [(ngModel)]="producto.precio">

      <input
        type="number"
        placeholder="Stock"
        [(ngModel)]="producto.stock">

      <input
        type="number"
        placeholder="Categoría"
        [(ngModel)]="producto.categoria">

    </div>

    <div class="botones">

      <button class="guardar" (click)="guardar()">
        {{ editando ? 'Actualizar' : 'Agregar' }}
      </button>

      <button
        class="cancelar"
        *ngIf="editando"
        (click)="cancelar()">
        Cancelar
      </button>

    </div>

  </div>

  <div class="card">

    <h2>Productos registrados</h2>

    <table>

      <thead>
      <tr>
        <th>ID</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoría</th>
        <th>Acciones</th>
      </tr>
      </thead>

      <tbody>

      <tr *ngFor="let p of productos">

        <td>{{ p.id }}</td>
        <td>{{ p.nombre }}</td>
        <td>S/ {{ p.precio }}</td>
        <td>{{ p.stock }}</td>
        <td>{{ p.categoria }}</td>

        <td class="acciones">

          <button class="editar" (click)="editar(p)">
            Editar
          </button>

          <button class="eliminar" (click)="eliminar(p.id)">
            Eliminar
          </button>

        </td>

      </tr>

      </tbody>

    </table>

  </div>

</div>
